<div *ngIf="isAdmin()">
  <mat-card>
    <h3 class="error" *ngIf="totals.dbConnections">
      יותר מידי חיבורים פתוחים - {{totals.name}} - {{totals.dbConnections}}
    </h3>
    <h4>
      ארגונים {{sites.totalRows}}
    </h4>
    <h4>
      משלוחים {{totals.deliveries}}
    </h4>
    <h4>
      בדרך {{totals.onTheWay}}
    </h4>
    <h4>
      מתנדבים {{totals.helpers}}
    </h4>
    <h4>
      משפחות באירוע {{totals.familiesInEvent}}
    </h4>
    <h4>
      משפחות {{totals.totalFamilies}}
    </h4>
    <div style="margin-bottom:15px">
      <button mat-raised-button (click)="previous()">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
      <button mat-raised-button (click)="today()">
        <mat-icon>today</mat-icon>
      </button>
      <button mat-raised-button (click)="next()">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
    </div>
    <div style="display:flex;">

      <data-area [settings]="rangeArea"></data-area>
      <button mat-mini-fab style="margin-bottom:5px" (click)="refresh()">
        <mat-icon>refresh</mat-icon>
      </button>
    </div>
    <data-grid2 [settings]="sites"></data-grid2>
  </mat-card>

</div>